<div class="splash-content">
    <h1>Super Cool Todo List</h1>
    <h3>Sig In</h3>
    <%= render 'shared/user_form', user: @user, submit_text: 'Sign In', action: session_url %>
    <a href="<%= new_user_url %>">Sign Up</a>
</div>